--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-1.pgdg110+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: transport_user
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO transport_user;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: transport_user
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO transport_user;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: transport_user
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO transport_user;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: transport_user
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO transport_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO transport_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO transport_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: modalidad; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.modalidad (
    id bigint NOT NULL,
    nombre character varying(20) NOT NULL
);


ALTER TABLE public.modalidad OWNER TO transport_user;

--
-- Name: catalogs_modalidad_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.modalidad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalogs_modalidad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rol; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.rol (
    id bigint NOT NULL,
    nombre character varying(30) NOT NULL,
    descripcion text
);


ALTER TABLE public.rol OWNER TO transport_user;

--
-- Name: catalogs_rol_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.rol ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalogs_rol_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: submodalidad; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.submodalidad (
    id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    modalidad_id bigint NOT NULL
);


ALTER TABLE public.submodalidad OWNER TO transport_user;

--
-- Name: catalogs_submodalidad_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.submodalidad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalogs_submodalidad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: territorio_eje; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.territorio_eje (
    id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    color_hex character varying(7) NOT NULL
);


ALTER TABLE public.territorio_eje OWNER TO transport_user;

--
-- Name: catalogs_territorioeje_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.territorio_eje ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalogs_territorioeje_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: territorio_municipio; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.territorio_municipio (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    eje_id bigint NOT NULL
);


ALTER TABLE public.territorio_municipio OWNER TO transport_user;

--
-- Name: catalogs_territoriomunicipio_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.territorio_municipio ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalogs_territoriomunicipio_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo_combustible; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.tipo_combustible (
    id bigint NOT NULL,
    nombre character varying(15) NOT NULL
);


ALTER TABLE public.tipo_combustible OWNER TO transport_user;

--
-- Name: catalogs_tipocombustible_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.tipo_combustible ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalogs_tipocombustible_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo_organizacion; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.tipo_organizacion (
    id bigint NOT NULL,
    nombre character varying(20) NOT NULL
);


ALTER TABLE public.tipo_organizacion OWNER TO transport_user;

--
-- Name: catalogs_tipoorganizacion_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.tipo_organizacion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalogs_tipoorganizacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo_ruta; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.tipo_ruta (
    id bigint NOT NULL,
    nombre character varying(15) NOT NULL
);


ALTER TABLE public.tipo_ruta OWNER TO transport_user;

--
-- Name: catalogs_tiporuta_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.tipo_ruta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalogs_tiporuta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo_transmision; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.tipo_transmision (
    id bigint NOT NULL,
    nombre character varying(20) NOT NULL
);


ALTER TABLE public.tipo_transmision OWNER TO transport_user;

--
-- Name: catalogs_tipotransmision_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.tipo_transmision ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalogs_tipotransmision_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo_via; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.tipo_via (
    id bigint NOT NULL,
    nombre character varying(30) NOT NULL
);


ALTER TABLE public.tipo_via OWNER TO transport_user;

--
-- Name: catalogs_tipovia_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.tipo_via ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalogs_tipovia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: configuracion_visual; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.configuracion_visual (
    id bigint NOT NULL,
    nombre_sistema character varying(100) NOT NULL,
    logo character varying(100),
    login_bg character varying(100),
    primary_color character varying(7) NOT NULL,
    secondary_color character varying(7) NOT NULL
);


ALTER TABLE public.configuracion_visual OWNER TO transport_user;

--
-- Name: configuracion_visual_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.configuracion_visual ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.configuracion_visual_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO transport_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO transport_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO transport_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO transport_user;

--
-- Name: empresa_organizacion; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.empresa_organizacion (
    rif character varying(15) NOT NULL,
    razon_social character varying(255) NOT NULL,
    rep_legal_ci character varying(15) NOT NULL,
    rep_legal_nom character varying(150) NOT NULL,
    telefono character varying(20),
    correo character varying(255),
    direccion_fiscal text,
    fecha_constitucion date,
    esta_activa boolean NOT NULL,
    tipo_id bigint NOT NULL
);


ALTER TABLE public.empresa_organizacion OWNER TO transport_user;

--
-- Name: vehiculo_organizacion; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.vehiculo_organizacion (
    id bigint NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date,
    organizacion_id character varying(15) NOT NULL,
    vehiculo_id character varying(15) NOT NULL
);


ALTER TABLE public.vehiculo_organizacion OWNER TO transport_user;

--
-- Name: fleet_vehiculoorganizacion_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.vehiculo_organizacion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fleet_vehiculoorganizacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flota_vehiculo; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.flota_vehiculo (
    placa character varying(15) NOT NULL,
    marca character varying(50) NOT NULL,
    modelo character varying(50) NOT NULL,
    anio smallint NOT NULL,
    color character varying(30),
    capacidad smallint NOT NULL,
    capacidad_pie smallint,
    aire_acondicionado boolean NOT NULL,
    accesibilidad boolean NOT NULL,
    seguro_vence date,
    revision_tecnica_vence date,
    combustible_id bigint NOT NULL,
    modalidad_id bigint NOT NULL,
    submodalidad_id bigint NOT NULL,
    transmision_id bigint NOT NULL
);


ALTER TABLE public.flota_vehiculo OWNER TO transport_user;

--
-- Name: gestion_permiso; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.gestion_permiso (
    id bigint NOT NULL,
    f_emision date NOT NULL,
    numero_resolucion character varying(50),
    estatus character varying(15) NOT NULL,
    observaciones text,
    org_id character varying(15) NOT NULL,
    ruta_id bigint NOT NULL
);


ALTER TABLE public.gestion_permiso OWNER TO transport_user;

--
-- Name: operador_organizacion; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.operador_organizacion (
    id bigint NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date,
    operador_id character varying(15) NOT NULL,
    organizacion_id character varying(15) NOT NULL
);


ALTER TABLE public.operador_organizacion OWNER TO transport_user;

--
-- Name: personal_operador; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.personal_operador (
    cedula character varying(15) NOT NULL,
    codigo_op character varying(20) NOT NULL,
    nombres character varying(100) NOT NULL,
    apellidos character varying(100) NOT NULL,
    telefono character varying(20),
    direccion text,
    fecha_nacimiento date,
    licencia_grado smallint NOT NULL,
    vence_lic date NOT NULL,
    certificado_medico_vence date,
    tipo_sangre character varying(5)
);


ALTER TABLE public.personal_operador OWNER TO transport_user;

--
-- Name: personnel_operadororganizacion_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.operador_organizacion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.personnel_operadororganizacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rol_permiso; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.rol_permiso (
    id bigint NOT NULL,
    modulo character varying(50) NOT NULL,
    accion character varying(20) NOT NULL,
    permitido boolean NOT NULL,
    rol_id bigint NOT NULL
);


ALTER TABLE public.rol_permiso OWNER TO transport_user;

--
-- Name: rol_permiso_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.rol_permiso ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rol_permiso_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: routes_gestionpermiso_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.gestion_permiso ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.routes_gestionpermiso_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vialidad_ruta; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.vialidad_ruta (
    id bigint NOT NULL,
    nombre character varying(200) NOT NULL,
    es_anillado boolean NOT NULL,
    distancia_km numeric(6,2),
    tiempo_estimado_min smallint,
    numero_paradas smallint NOT NULL,
    observaciones text,
    geom public.geometry(LineString,4326),
    municipio_des_id bigint NOT NULL,
    municipio_or_id bigint NOT NULL,
    tipo_id bigint NOT NULL,
    tipo_via_id bigint NOT NULL
);


ALTER TABLE public.vialidad_ruta OWNER TO transport_user;

--
-- Name: routes_vialidadruta_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.vialidad_ruta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.routes_vialidadruta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: terminal; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.terminal (
    id bigint NOT NULL,
    nombre character varying(150) NOT NULL,
    tipo character varying(50) NOT NULL,
    capacidad_andenes smallint NOT NULL,
    estatus character varying(20) NOT NULL,
    location public.geometry(Point,4326),
    municipio_id bigint NOT NULL
);


ALTER TABLE public.terminal OWNER TO transport_user;

--
-- Name: terminal_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.terminal ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.terminal_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_activity; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.user_activity (
    id bigint NOT NULL,
    action character varying(255) NOT NULL,
    details text,
    ip_address inet,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.user_activity OWNER TO transport_user;

--
-- Name: user_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.user_activity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_activity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario_sistema_groups; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.usuario_sistema_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.usuario_sistema_groups OWNER TO transport_user;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.usuario_sistema_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario_sistema; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.usuario_sistema (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    org_id character varying(15),
    rol_id bigint,
    avatar character varying(100)
);


ALTER TABLE public.usuario_sistema OWNER TO transport_user;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.usuario_sistema ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario_sistema_user_permissions; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.usuario_sistema_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.usuario_sistema_user_permissions OWNER TO transport_user;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.usuario_sistema_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vehiculo_operador; Type: TABLE; Schema: public; Owner: transport_user
--

CREATE TABLE public.vehiculo_operador (
    id bigint NOT NULL,
    fecha_asignacion timestamp with time zone NOT NULL,
    estatus character varying(20) NOT NULL,
    operador_id character varying(15) NOT NULL,
    vehiculo_id character varying(15) NOT NULL
);


ALTER TABLE public.vehiculo_operador OWNER TO transport_user;

--
-- Name: vehiculo_operador_id_seq; Type: SEQUENCE; Schema: public; Owner: transport_user
--

ALTER TABLE public.vehiculo_operador ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vehiculo_operador_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: transport_user
--



--
-- Data for Name: configuracion_visual; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.configuracion_visual (id, nombre_sistema, logo, login_bg, primary_color, secondary_color) FROM stdin;
1	Sistema de Transporte			#032448	#f5f5f5
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2026-04-28 15:02:31.60177+00	3	admin (SUPERUSUARIO)	2	[]	16	1
2	2026-04-28 15:02:43.25031+00	1	gato (SUPERUSUARIO)	2	[{"changed": {"fields": ["Rol"]}}]	16	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: transport_user
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: transport_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
pdvfs87ys4006biht3n28mknt52y4kvn	.eJxVjEEOwiAQRe_C2hChYwGX7j0DmWEGqRpISrsy3l2bdKHb_977LxVxXUpcu8xxYnVWRh1-N8L0kLoBvmO9NZ1aXeaJ9KbonXZ9bSzPy-7-HRTs5Vvn8USAGZiCzY4CW0g2E6N3ligYFspMDpjt4McEQ4A0SDL2mH0QQfX-AByqOVo:1wHjwt:Skiun2gbUIfYoyjHRgBOLYRN86U5G9tcDoB7NlNDvNo	2026-05-12 15:02:07.999302+00
\.


--
-- Data for Name: empresa_organizacion; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.empresa_organizacion (rif, razon_social, rep_legal_ci, rep_legal_nom, telefono, correo, direccion_fiscal, fecha_constitucion, esta_activa, tipo_id) FROM stdin;
\.


--
-- Data for Name: flota_vehiculo; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.flota_vehiculo (placa, marca, modelo, anio, color, capacidad, capacidad_pie, aire_acondicionado, accesibilidad, seguro_vence, revision_tecnica_vence, combustible_id, modalidad_id, submodalidad_id, transmision_id) FROM stdin;
ASL3004	Bera	SBR	2026		2	0	f	f	2026-05-05	2026-05-05	1	3	12	2
081ASD	Encava	Marcopolo	2020		32	0	t	t	2026-09-26	2026-09-26	2	1	1	2
\.


--
-- Data for Name: gestion_permiso; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.gestion_permiso (id, f_emision, numero_resolucion, estatus, observaciones, org_id, ruta_id) FROM stdin;
\.


--
-- Data for Name: modalidad; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.modalidad (id, nombre) FROM stdin;
1	COLECTIVO
2	CARRITOS / TAXI
3	MOTO
4	CARGA
5	ESPECIAL
\.


--
-- Data for Name: operador_organizacion; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.operador_organizacion (id, fecha_inicio, fecha_fin, operador_id, organizacion_id) FROM stdin;
\.


--
-- Data for Name: personal_operador; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.personal_operador (cedula, codigo_op, nombres, apellidos, telefono, direccion, fecha_nacimiento, licencia_grado, vence_lic, certificado_medico_vence, tipo_sangre) FROM stdin;
V-30214355	OP-001	Fredo	Godofredo	0414-3556689		2026-04-22	2	2026-05-05	2026-05-05	O+
\.


--
-- Data for Name: rol; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.rol (id, nombre, descripcion) FROM stdin;
1	SUPERADMIN	Acceso total al sistema
2	ADMINISTRADOR	Gesti├│n de datos y reportes
3	OPERADOR	Registro de informaci├│n diaria
4	CONSULTOR	Solo lectura de datos
\.


--
-- Data for Name: rol_permiso; Type: TABLE DATA; Schema: public; Owner: transport_user
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: submodalidad; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.submodalidad (id, nombre, modalidad_id) FROM stdin;
1	ENCAVA (610 / 900)	1
2	CAMIONETICA (Minib├║s)	1
3	BUSETA	1
4	AUTOB├ÜS (Bus Grande)	1
10	R├ÜSTICO (Jeep / Troncal)	1
5	CARRO (Sed├ín / 5 Puestos)	2
6	CARRITOS POR PUESTO	2
7	VAN / PANEL (Ejecutivo)	2
11	CAMIONETA (Pickup / Rural)	2
8	MOTO TAXI (Est├índar)	3
9	MOTO DE CARGA (Triciclo)	3
12	MOTO PARTICULAR	3
13	CAMI├ôN (Carga Pesada)	4
14	PICKUP / 350 (Carga Liviana)	4
\.


--
-- Data for Name: terminal; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.terminal (id, nombre, tipo, capacidad_andenes, estatus, location, municipio_id) FROM stdin;
1	Terminal de Maracay	Principal	10	Activo	0101000020E610000059B1097AB9E550C0FEE4396C6C7C2440	1
\.


--
-- Data for Name: territorio_eje; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.territorio_eje (id, nombre, color_hex) FROM stdin;
1	CENTRAL	#000000
2	ESTE	#000000
3	SUR	#000000
4	COSTA	#000000
\.


--
-- Data for Name: territorio_municipio; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.territorio_municipio (id, nombre, eje_id) FROM stdin;
1	GIRARDOT	1
2	MARIO BRICE├æO IRAGORRY	1
3	SANTIAGO MARI├æO	1
4	JOS├ë ├üNGEL LAMAS	1
5	SUCRE	1
6	LIBERTADOR	1
7	FRANCISCO LINARES ALC├üNTARA	1
8	JOS├ë F├ëLIX RIBAS	2
9	JOS├ë RAFAEL REVENGA	2
10	SANTOS MICHELENA	2
11	BOL├ìVAR	2
12	TOVAR	2
13	CAMATAGUA	3
14	SAN CASIMIRO	3
15	SAN SEBASTI├üN	3
16	URDANETA	3
17	ZAMORA	3
18	OCUMARE DE LA COSTA DE ORO	4
\.


--
-- Data for Name: tipo_combustible; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.tipo_combustible (id, nombre) FROM stdin;
1	GASOLINA
2	GASOIL
3	GAS
4	MIXTO
5	ELECTRICO
\.


--
-- Data for Name: tipo_organizacion; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.tipo_organizacion (id, nombre) FROM stdin;
1	P├ÜBLICA
2	PRIVADA / L├ìNEA
3	COOPERATIVA
4	SINDICATO
\.


--
-- Data for Name: tipo_ruta; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.tipo_ruta (id, nombre) FROM stdin;
1	URBANA
2	SUBURBANA
\.


--
-- Data for Name: tipo_transmision; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.tipo_transmision (id, nombre) FROM stdin;
1	AUTOMATICA
2	SINCRONICA (Manual)
\.


--
-- Data for Name: tipo_via; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.tipo_via (id, nombre) FROM stdin;
1	PAVIMENTADA
2	ASFALTADA
3	TIERRA
4	MIXTA
\.


--
-- Data for Name: user_activity; Type: TABLE DATA; Schema: public; Owner: transport_user
--



--
-- Data for Name: usuario_sistema; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.usuario_sistema (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined, org_id, rol_id, avatar) FROM stdin;
2	pbkdf2_sha256$600000$QIKCw5FYSHoRiPVlv3pHbt$KtZvqtbg1wOtp4Eq1OSPr5Sb8PqCovSFPfZaEUME6PA=	\N	t	nico				t	t	2026-04-27 19:08:51.558354+00	\N	4	
1	pbkdf2_sha256$600000$gYDNAPs7j0YHbmpDAqfACk$8Qgu8pH/9eNsNSMWnbj11E59tTAfGXwMpynZCw9k7Us=	2026-04-28 15:02:07+00	t	gato	Carlos	Infante		t	t	2026-04-27 17:31:18+00	\N	1	avatars/ICON.jpg
\.


--
-- Data for Name: usuario_sistema_groups; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.usuario_sistema_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: usuario_sistema_user_permissions; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.usuario_sistema_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: vehiculo_operador; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.vehiculo_operador (id, fecha_asignacion, estatus, operador_id, vehiculo_id) FROM stdin;
\.


--
-- Data for Name: vehiculo_organizacion; Type: TABLE DATA; Schema: public; Owner: transport_user
--

COPY public.vehiculo_organizacion (id, fecha_inicio, fecha_fin, organizacion_id, vehiculo_id) FROM stdin;
\.


--
-- Data for Name: vialidad_ruta; Type: TABLE DATA; Schema: public; Owner: transport_user
--



--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: transport_user
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: transport_user
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: transport_user
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: transport_user
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: transport_user
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: transport_user
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 112, true);


--
-- Name: catalogs_modalidad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.catalogs_modalidad_id_seq', 1, false);


--
-- Name: catalogs_rol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.catalogs_rol_id_seq', 1, true);


--
-- Name: catalogs_submodalidad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.catalogs_submodalidad_id_seq', 1, false);


--
-- Name: catalogs_territorioeje_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.catalogs_territorioeje_id_seq', 4, true);


--
-- Name: catalogs_territoriomunicipio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.catalogs_territoriomunicipio_id_seq', 18, true);


--
-- Name: catalogs_tipocombustible_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.catalogs_tipocombustible_id_seq', 1, false);


--
-- Name: catalogs_tipoorganizacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.catalogs_tipoorganizacion_id_seq', 1, false);


--
-- Name: catalogs_tiporuta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.catalogs_tiporuta_id_seq', 1, false);


--
-- Name: catalogs_tipotransmision_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.catalogs_tipotransmision_id_seq', 1, false);


--
-- Name: catalogs_tipovia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.catalogs_tipovia_id_seq', 1, false);


--
-- Name: configuracion_visual_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.configuracion_visual_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 2, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 28, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 39, true);


--
-- Name: fleet_vehiculoorganizacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.fleet_vehiculoorganizacion_id_seq', 1, false);


--
-- Name: personnel_operadororganizacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.personnel_operadororganizacion_id_seq', 1, false);


--
-- Name: rol_permiso_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.rol_permiso_id_seq', 38, true);


--
-- Name: routes_gestionpermiso_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.routes_gestionpermiso_id_seq', 1, false);


--
-- Name: routes_vialidadruta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.routes_vialidadruta_id_seq', 4, true);


--
-- Name: terminal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.terminal_id_seq', 1, true);


--
-- Name: user_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.user_activity_id_seq', 60, true);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.users_user_id_seq', 4, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: vehiculo_operador_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport_user
--

SELECT pg_catalog.setval('public.vehiculo_operador_id_seq', 1, false);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: transport_user
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: modalidad catalogs_modalidad_nombre_key; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.modalidad
    ADD CONSTRAINT catalogs_modalidad_nombre_key UNIQUE (nombre);


--
-- Name: modalidad catalogs_modalidad_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.modalidad
    ADD CONSTRAINT catalogs_modalidad_pkey PRIMARY KEY (id);


--
-- Name: rol catalogs_rol_nombre_key; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT catalogs_rol_nombre_key UNIQUE (nombre);


--
-- Name: rol catalogs_rol_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT catalogs_rol_pkey PRIMARY KEY (id);


--
-- Name: submodalidad catalogs_submodalidad_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.submodalidad
    ADD CONSTRAINT catalogs_submodalidad_pkey PRIMARY KEY (id);


--
-- Name: territorio_eje catalogs_territorioeje_nombre_key; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.territorio_eje
    ADD CONSTRAINT catalogs_territorioeje_nombre_key UNIQUE (nombre);


--
-- Name: territorio_eje catalogs_territorioeje_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.territorio_eje
    ADD CONSTRAINT catalogs_territorioeje_pkey PRIMARY KEY (id);


--
-- Name: territorio_municipio catalogs_territoriomunicipio_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.territorio_municipio
    ADD CONSTRAINT catalogs_territoriomunicipio_pkey PRIMARY KEY (id);


--
-- Name: tipo_combustible catalogs_tipocombustible_nombre_key; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.tipo_combustible
    ADD CONSTRAINT catalogs_tipocombustible_nombre_key UNIQUE (nombre);


--
-- Name: tipo_combustible catalogs_tipocombustible_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.tipo_combustible
    ADD CONSTRAINT catalogs_tipocombustible_pkey PRIMARY KEY (id);


--
-- Name: tipo_organizacion catalogs_tipoorganizacion_nombre_key; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.tipo_organizacion
    ADD CONSTRAINT catalogs_tipoorganizacion_nombre_key UNIQUE (nombre);


--
-- Name: tipo_organizacion catalogs_tipoorganizacion_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.tipo_organizacion
    ADD CONSTRAINT catalogs_tipoorganizacion_pkey PRIMARY KEY (id);


--
-- Name: tipo_ruta catalogs_tiporuta_nombre_key; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.tipo_ruta
    ADD CONSTRAINT catalogs_tiporuta_nombre_key UNIQUE (nombre);


--
-- Name: tipo_ruta catalogs_tiporuta_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.tipo_ruta
    ADD CONSTRAINT catalogs_tiporuta_pkey PRIMARY KEY (id);


--
-- Name: tipo_transmision catalogs_tipotransmision_nombre_key; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.tipo_transmision
    ADD CONSTRAINT catalogs_tipotransmision_nombre_key UNIQUE (nombre);


--
-- Name: tipo_transmision catalogs_tipotransmision_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.tipo_transmision
    ADD CONSTRAINT catalogs_tipotransmision_pkey PRIMARY KEY (id);


--
-- Name: tipo_via catalogs_tipovia_nombre_key; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.tipo_via
    ADD CONSTRAINT catalogs_tipovia_nombre_key UNIQUE (nombre);


--
-- Name: tipo_via catalogs_tipovia_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.tipo_via
    ADD CONSTRAINT catalogs_tipovia_pkey PRIMARY KEY (id);


--
-- Name: configuracion_visual configuracion_visual_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.configuracion_visual
    ADD CONSTRAINT configuracion_visual_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: flota_vehiculo fleet_flotavehiculo_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.flota_vehiculo
    ADD CONSTRAINT fleet_flotavehiculo_pkey PRIMARY KEY (placa);


--
-- Name: vehiculo_organizacion fleet_vehiculoorganizacion_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vehiculo_organizacion
    ADD CONSTRAINT fleet_vehiculoorganizacion_pkey PRIMARY KEY (id);


--
-- Name: empresa_organizacion organizations_empresaorganizacion_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.empresa_organizacion
    ADD CONSTRAINT organizations_empresaorganizacion_pkey PRIMARY KEY (rif);


--
-- Name: operador_organizacion personnel_operadororganizacion_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.operador_organizacion
    ADD CONSTRAINT personnel_operadororganizacion_pkey PRIMARY KEY (id);


--
-- Name: personal_operador personnel_personaloperador_codigo_op_701a5b5d_uniq; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.personal_operador
    ADD CONSTRAINT personnel_personaloperador_codigo_op_701a5b5d_uniq UNIQUE (codigo_op);


--
-- Name: personal_operador personnel_personaloperador_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.personal_operador
    ADD CONSTRAINT personnel_personaloperador_pkey PRIMARY KEY (cedula);


--
-- Name: rol_permiso rol_permiso_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.rol_permiso
    ADD CONSTRAINT rol_permiso_pkey PRIMARY KEY (id);


--
-- Name: rol_permiso rol_permiso_rol_id_modulo_accion_0cc63706_uniq; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.rol_permiso
    ADD CONSTRAINT rol_permiso_rol_id_modulo_accion_0cc63706_uniq UNIQUE (rol_id, modulo, accion);


--
-- Name: gestion_permiso routes_gestionpermiso_org_id_ruta_id_21df015f_uniq; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.gestion_permiso
    ADD CONSTRAINT routes_gestionpermiso_org_id_ruta_id_21df015f_uniq UNIQUE (org_id, ruta_id);


--
-- Name: gestion_permiso routes_gestionpermiso_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.gestion_permiso
    ADD CONSTRAINT routes_gestionpermiso_pkey PRIMARY KEY (id);


--
-- Name: vialidad_ruta routes_vialidadruta_nombre_6c13d4f2_uniq; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vialidad_ruta
    ADD CONSTRAINT routes_vialidadruta_nombre_6c13d4f2_uniq UNIQUE (nombre);


--
-- Name: vialidad_ruta routes_vialidadruta_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vialidad_ruta
    ADD CONSTRAINT routes_vialidadruta_pkey PRIMARY KEY (id);


--
-- Name: terminal terminal_nombre_key; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.terminal
    ADD CONSTRAINT terminal_nombre_key UNIQUE (nombre);


--
-- Name: terminal terminal_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.terminal
    ADD CONSTRAINT terminal_pkey PRIMARY KEY (id);


--
-- Name: user_activity user_activity_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.user_activity
    ADD CONSTRAINT user_activity_pkey PRIMARY KEY (id);


--
-- Name: usuario_sistema_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: usuario_sistema_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: usuario_sistema users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: usuario_sistema_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: usuario_sistema_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: usuario_sistema users_user_username_key; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema
    ADD CONSTRAINT users_user_username_key UNIQUE (username);


--
-- Name: vehiculo_operador vehiculo_operador_pkey; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vehiculo_operador
    ADD CONSTRAINT vehiculo_operador_pkey PRIMARY KEY (id);


--
-- Name: vehiculo_operador vehiculo_operador_vehiculo_id_operador_id_e105571e_uniq; Type: CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vehiculo_operador
    ADD CONSTRAINT vehiculo_operador_vehiculo_id_operador_id_e105571e_uniq UNIQUE (vehiculo_id, operador_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: catalogs_modalidad_nombre_776fe4c3_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX catalogs_modalidad_nombre_776fe4c3_like ON public.modalidad USING btree (nombre varchar_pattern_ops);


--
-- Name: catalogs_rol_nombre_0946eb1a_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX catalogs_rol_nombre_0946eb1a_like ON public.rol USING btree (nombre varchar_pattern_ops);


--
-- Name: catalogs_submodalidad_modalidad_id_b3260c7a; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX catalogs_submodalidad_modalidad_id_b3260c7a ON public.submodalidad USING btree (modalidad_id);


--
-- Name: catalogs_territorioeje_nombre_e9b1a497_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX catalogs_territorioeje_nombre_e9b1a497_like ON public.territorio_eje USING btree (nombre varchar_pattern_ops);


--
-- Name: catalogs_territoriomunicipio_eje_id_b56e5e14; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX catalogs_territoriomunicipio_eje_id_b56e5e14 ON public.territorio_municipio USING btree (eje_id);


--
-- Name: catalogs_tipocombustible_nombre_7af1532a_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX catalogs_tipocombustible_nombre_7af1532a_like ON public.tipo_combustible USING btree (nombre varchar_pattern_ops);


--
-- Name: catalogs_tipoorganizacion_nombre_fbaf827a_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX catalogs_tipoorganizacion_nombre_fbaf827a_like ON public.tipo_organizacion USING btree (nombre varchar_pattern_ops);


--
-- Name: catalogs_tiporuta_nombre_0b1e6d57_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX catalogs_tiporuta_nombre_0b1e6d57_like ON public.tipo_ruta USING btree (nombre varchar_pattern_ops);


--
-- Name: catalogs_tipotransmision_nombre_af0a216a_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX catalogs_tipotransmision_nombre_af0a216a_like ON public.tipo_transmision USING btree (nombre varchar_pattern_ops);


--
-- Name: catalogs_tipovia_nombre_23227ec0_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX catalogs_tipovia_nombre_23227ec0_like ON public.tipo_via USING btree (nombre varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: fleet_flotavehiculo_combustible_id_3b4943ce; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX fleet_flotavehiculo_combustible_id_3b4943ce ON public.flota_vehiculo USING btree (combustible_id);


--
-- Name: fleet_flotavehiculo_modalidad_id_68e7dc19; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX fleet_flotavehiculo_modalidad_id_68e7dc19 ON public.flota_vehiculo USING btree (modalidad_id);


--
-- Name: fleet_flotavehiculo_placa_4869492a_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX fleet_flotavehiculo_placa_4869492a_like ON public.flota_vehiculo USING btree (placa varchar_pattern_ops);


--
-- Name: fleet_flotavehiculo_submodalidad_id_6ca6f7a0; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX fleet_flotavehiculo_submodalidad_id_6ca6f7a0 ON public.flota_vehiculo USING btree (submodalidad_id);


--
-- Name: fleet_flotavehiculo_transmision_id_82e65f23; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX fleet_flotavehiculo_transmision_id_82e65f23 ON public.flota_vehiculo USING btree (transmision_id);


--
-- Name: fleet_vehiculoorganizacion_organizacion_id_2d366e8a; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX fleet_vehiculoorganizacion_organizacion_id_2d366e8a ON public.vehiculo_organizacion USING btree (organizacion_id);


--
-- Name: fleet_vehiculoorganizacion_organizacion_id_2d366e8a_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX fleet_vehiculoorganizacion_organizacion_id_2d366e8a_like ON public.vehiculo_organizacion USING btree (organizacion_id varchar_pattern_ops);


--
-- Name: fleet_vehiculoorganizacion_vehiculo_id_b3b01d93; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX fleet_vehiculoorganizacion_vehiculo_id_b3b01d93 ON public.vehiculo_organizacion USING btree (vehiculo_id);


--
-- Name: fleet_vehiculoorganizacion_vehiculo_id_b3b01d93_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX fleet_vehiculoorganizacion_vehiculo_id_b3b01d93_like ON public.vehiculo_organizacion USING btree (vehiculo_id varchar_pattern_ops);


--
-- Name: organizations_empresaorganizacion_rif_7bb76b73_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX organizations_empresaorganizacion_rif_7bb76b73_like ON public.empresa_organizacion USING btree (rif varchar_pattern_ops);


--
-- Name: organizations_empresaorganizacion_tipo_id_a5f1d081; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX organizations_empresaorganizacion_tipo_id_a5f1d081 ON public.empresa_organizacion USING btree (tipo_id);


--
-- Name: personnel_operadororganizacion_operador_id_7614e8c1; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX personnel_operadororganizacion_operador_id_7614e8c1 ON public.operador_organizacion USING btree (operador_id);


--
-- Name: personnel_operadororganizacion_operador_id_7614e8c1_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX personnel_operadororganizacion_operador_id_7614e8c1_like ON public.operador_organizacion USING btree (operador_id varchar_pattern_ops);


--
-- Name: personnel_operadororganizacion_organizacion_id_4599d980; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX personnel_operadororganizacion_organizacion_id_4599d980 ON public.operador_organizacion USING btree (organizacion_id);


--
-- Name: personnel_operadororganizacion_organizacion_id_4599d980_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX personnel_operadororganizacion_organizacion_id_4599d980_like ON public.operador_organizacion USING btree (organizacion_id varchar_pattern_ops);


--
-- Name: personnel_personaloperador_cedula_bac962e4_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX personnel_personaloperador_cedula_bac962e4_like ON public.personal_operador USING btree (cedula varchar_pattern_ops);


--
-- Name: personnel_personaloperador_codigo_op_701a5b5d_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX personnel_personaloperador_codigo_op_701a5b5d_like ON public.personal_operador USING btree (codigo_op varchar_pattern_ops);


--
-- Name: rol_permiso_rol_id_b275ea9d; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX rol_permiso_rol_id_b275ea9d ON public.rol_permiso USING btree (rol_id);


--
-- Name: routes_gestionpermiso_org_id_d925ee10; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX routes_gestionpermiso_org_id_d925ee10 ON public.gestion_permiso USING btree (org_id);


--
-- Name: routes_gestionpermiso_org_id_d925ee10_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX routes_gestionpermiso_org_id_d925ee10_like ON public.gestion_permiso USING btree (org_id varchar_pattern_ops);


--
-- Name: routes_gestionpermiso_ruta_id_e891fda6; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX routes_gestionpermiso_ruta_id_e891fda6 ON public.gestion_permiso USING btree (ruta_id);


--
-- Name: routes_vialidadruta_geom_927e17b2_id; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX routes_vialidadruta_geom_927e17b2_id ON public.vialidad_ruta USING gist (geom);


--
-- Name: routes_vialidadruta_municipio_des_id_aa55d983; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX routes_vialidadruta_municipio_des_id_aa55d983 ON public.vialidad_ruta USING btree (municipio_des_id);


--
-- Name: routes_vialidadruta_municipio_or_id_73f3fac1; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX routes_vialidadruta_municipio_or_id_73f3fac1 ON public.vialidad_ruta USING btree (municipio_or_id);


--
-- Name: routes_vialidadruta_nombre_6c13d4f2_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX routes_vialidadruta_nombre_6c13d4f2_like ON public.vialidad_ruta USING btree (nombre varchar_pattern_ops);


--
-- Name: routes_vialidadruta_tipo_id_23f89d94; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX routes_vialidadruta_tipo_id_23f89d94 ON public.vialidad_ruta USING btree (tipo_id);


--
-- Name: routes_vialidadruta_tipo_via_id_29dc270e; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX routes_vialidadruta_tipo_via_id_29dc270e ON public.vialidad_ruta USING btree (tipo_via_id);


--
-- Name: terminal_location_03e7af8b_id; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX terminal_location_03e7af8b_id ON public.terminal USING gist (location);


--
-- Name: terminal_municipio_id_bfe8e488; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX terminal_municipio_id_bfe8e488 ON public.terminal USING btree (municipio_id);


--
-- Name: terminal_nombre_e063b44c_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX terminal_nombre_e063b44c_like ON public.terminal USING btree (nombre varchar_pattern_ops);


--
-- Name: user_activity_user_id_9d5b7120; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX user_activity_user_id_9d5b7120 ON public.user_activity USING btree (user_id);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.usuario_sistema_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.usuario_sistema_groups USING btree (user_id);


--
-- Name: users_user_org_id_3c896d3c; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX users_user_org_id_3c896d3c ON public.usuario_sistema USING btree (org_id);


--
-- Name: users_user_org_id_3c896d3c_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX users_user_org_id_3c896d3c_like ON public.usuario_sistema USING btree (org_id varchar_pattern_ops);


--
-- Name: users_user_rol_id_b2fd5aaa; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX users_user_rol_id_b2fd5aaa ON public.usuario_sistema USING btree (rol_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.usuario_sistema_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.usuario_sistema_user_permissions USING btree (user_id);


--
-- Name: users_user_username_06e46fe6_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX users_user_username_06e46fe6_like ON public.usuario_sistema USING btree (username varchar_pattern_ops);


--
-- Name: vehiculo_operador_operador_id_32530405; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX vehiculo_operador_operador_id_32530405 ON public.vehiculo_operador USING btree (operador_id);


--
-- Name: vehiculo_operador_operador_id_32530405_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX vehiculo_operador_operador_id_32530405_like ON public.vehiculo_operador USING btree (operador_id varchar_pattern_ops);


--
-- Name: vehiculo_operador_vehiculo_id_4ddc9941; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX vehiculo_operador_vehiculo_id_4ddc9941 ON public.vehiculo_operador USING btree (vehiculo_id);


--
-- Name: vehiculo_operador_vehiculo_id_4ddc9941_like; Type: INDEX; Schema: public; Owner: transport_user
--

CREATE INDEX vehiculo_operador_vehiculo_id_4ddc9941_like ON public.vehiculo_operador USING btree (vehiculo_id varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: submodalidad catalogs_submodalida_modalidad_id_b3260c7a_fk_catalogs_; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.submodalidad
    ADD CONSTRAINT catalogs_submodalida_modalidad_id_b3260c7a_fk_catalogs_ FOREIGN KEY (modalidad_id) REFERENCES public.modalidad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: territorio_municipio catalogs_territoriom_eje_id_b56e5e14_fk_catalogs_; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.territorio_municipio
    ADD CONSTRAINT catalogs_territoriom_eje_id_b56e5e14_fk_catalogs_ FOREIGN KEY (eje_id) REFERENCES public.territorio_eje(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.usuario_sistema(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flota_vehiculo fleet_flotavehiculo_combustible_id_3b4943ce_fk_tipo_comb; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.flota_vehiculo
    ADD CONSTRAINT fleet_flotavehiculo_combustible_id_3b4943ce_fk_tipo_comb FOREIGN KEY (combustible_id) REFERENCES public.tipo_combustible(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flota_vehiculo fleet_flotavehiculo_modalidad_id_68e7dc19_fk_modalidad_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.flota_vehiculo
    ADD CONSTRAINT fleet_flotavehiculo_modalidad_id_68e7dc19_fk_modalidad_id FOREIGN KEY (modalidad_id) REFERENCES public.modalidad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flota_vehiculo fleet_flotavehiculo_submodalidad_id_6ca6f7a0_fk_submodalidad_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.flota_vehiculo
    ADD CONSTRAINT fleet_flotavehiculo_submodalidad_id_6ca6f7a0_fk_submodalidad_id FOREIGN KEY (submodalidad_id) REFERENCES public.submodalidad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flota_vehiculo fleet_flotavehiculo_transmision_id_82e65f23_fk_tipo_tran; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.flota_vehiculo
    ADD CONSTRAINT fleet_flotavehiculo_transmision_id_82e65f23_fk_tipo_tran FOREIGN KEY (transmision_id) REFERENCES public.tipo_transmision(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vehiculo_organizacion fleet_vehiculoorgani_organizacion_id_2d366e8a_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vehiculo_organizacion
    ADD CONSTRAINT fleet_vehiculoorgani_organizacion_id_2d366e8a_fk_organizat FOREIGN KEY (organizacion_id) REFERENCES public.empresa_organizacion(rif) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vehiculo_organizacion fleet_vehiculoorgani_vehiculo_id_b3b01d93_fk_fleet_flo; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vehiculo_organizacion
    ADD CONSTRAINT fleet_vehiculoorgani_vehiculo_id_b3b01d93_fk_fleet_flo FOREIGN KEY (vehiculo_id) REFERENCES public.flota_vehiculo(placa) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: empresa_organizacion organizations_empres_tipo_id_a5f1d081_fk_catalogs_; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.empresa_organizacion
    ADD CONSTRAINT organizations_empres_tipo_id_a5f1d081_fk_catalogs_ FOREIGN KEY (tipo_id) REFERENCES public.tipo_organizacion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operador_organizacion personnel_operadoror_operador_id_7614e8c1_fk_personnel; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.operador_organizacion
    ADD CONSTRAINT personnel_operadoror_operador_id_7614e8c1_fk_personnel FOREIGN KEY (operador_id) REFERENCES public.personal_operador(cedula) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operador_organizacion personnel_operadoror_organizacion_id_4599d980_fk_empresa_o; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.operador_organizacion
    ADD CONSTRAINT personnel_operadoror_organizacion_id_4599d980_fk_empresa_o FOREIGN KEY (organizacion_id) REFERENCES public.empresa_organizacion(rif) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rol_permiso rol_permiso_rol_id_b275ea9d_fk_rol_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.rol_permiso
    ADD CONSTRAINT rol_permiso_rol_id_b275ea9d_fk_rol_id FOREIGN KEY (rol_id) REFERENCES public.rol(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_permiso routes_gestionpermis_org_id_d925ee10_fk_empresa_o; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.gestion_permiso
    ADD CONSTRAINT routes_gestionpermis_org_id_d925ee10_fk_empresa_o FOREIGN KEY (org_id) REFERENCES public.empresa_organizacion(rif) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_permiso routes_gestionpermis_ruta_id_e891fda6_fk_routes_vi; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.gestion_permiso
    ADD CONSTRAINT routes_gestionpermis_ruta_id_e891fda6_fk_routes_vi FOREIGN KEY (ruta_id) REFERENCES public.vialidad_ruta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vialidad_ruta routes_vialidadruta_municipio_des_id_aa55d983_fk_territori; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vialidad_ruta
    ADD CONSTRAINT routes_vialidadruta_municipio_des_id_aa55d983_fk_territori FOREIGN KEY (municipio_des_id) REFERENCES public.territorio_municipio(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vialidad_ruta routes_vialidadruta_municipio_or_id_73f3fac1_fk_territori; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vialidad_ruta
    ADD CONSTRAINT routes_vialidadruta_municipio_or_id_73f3fac1_fk_territori FOREIGN KEY (municipio_or_id) REFERENCES public.territorio_municipio(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vialidad_ruta routes_vialidadruta_tipo_id_23f89d94_fk_tipo_ruta_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vialidad_ruta
    ADD CONSTRAINT routes_vialidadruta_tipo_id_23f89d94_fk_tipo_ruta_id FOREIGN KEY (tipo_id) REFERENCES public.tipo_ruta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vialidad_ruta routes_vialidadruta_tipo_via_id_29dc270e_fk_tipo_via_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vialidad_ruta
    ADD CONSTRAINT routes_vialidadruta_tipo_via_id_29dc270e_fk_tipo_via_id FOREIGN KEY (tipo_via_id) REFERENCES public.tipo_via(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: terminal terminal_municipio_id_bfe8e488_fk_territorio_municipio_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.terminal
    ADD CONSTRAINT terminal_municipio_id_bfe8e488_fk_territorio_municipio_id FOREIGN KEY (municipio_id) REFERENCES public.territorio_municipio(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_activity user_activity_user_id_9d5b7120_fk_usuario_sistema_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.user_activity
    ADD CONSTRAINT user_activity_user_id_9d5b7120_fk_usuario_sistema_id FOREIGN KEY (user_id) REFERENCES public.usuario_sistema(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_sistema_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_sistema_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.usuario_sistema(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_sistema users_user_org_id_3c896d3c_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema
    ADD CONSTRAINT users_user_org_id_3c896d3c_fk_organizat FOREIGN KEY (org_id) REFERENCES public.empresa_organizacion(rif) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_sistema users_user_rol_id_b2fd5aaa_fk_catalogs_rol_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema
    ADD CONSTRAINT users_user_rol_id_b2fd5aaa_fk_catalogs_rol_id FOREIGN KEY (rol_id) REFERENCES public.rol(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_sistema_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_sistema_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.usuario_sistema_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.usuario_sistema(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vehiculo_operador vehiculo_operador_operador_id_32530405_fk_personal_; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vehiculo_operador
    ADD CONSTRAINT vehiculo_operador_operador_id_32530405_fk_personal_ FOREIGN KEY (operador_id) REFERENCES public.personal_operador(cedula) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vehiculo_operador vehiculo_operador_vehiculo_id_4ddc9941_fk_flota_vehiculo_placa; Type: FK CONSTRAINT; Schema: public; Owner: transport_user
--

ALTER TABLE ONLY public.vehiculo_operador
    ADD CONSTRAINT vehiculo_operador_vehiculo_id_4ddc9941_fk_flota_vehiculo_placa FOREIGN KEY (vehiculo_id) REFERENCES public.flota_vehiculo(placa) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

